/* Part of a demo theme for ownCloud
*  Provided free as a demonstration of 
*  possibility.. :-)
*/

#header .logo {
	background-image: url(../img/demoCloud.svg);
	/* Please note, this relative link will mean that the file should be in the following dir:
	*  [theme name]/core/img/logo.svg
	*  Yes, you can use jpeg, png etc here.
	*/
	background-repeat: no-repeat;
	width: 252px;
	height: 120px;
	margin: 0 auto;
}
